body {
  overflow-x:hidden;
}

li {
  list-style: none;

  a {
    color: #0a0a0a!important;
    text-decoration: none!important;
  }
}

.profile {
  max-width: 100%;
  min-height: 100vh;
  background-color: #edf1f4;
  display: flex;
}

.profile__navbar {
  max-width: 18%;
  min-height: 100vh;
  background-color: white;
  border-radius: 0 0 20px 0;
}

.profile__navbar__logo {
  display: flex;
  justify-content: center;

  img {
    margin-top: -20px;
  }
}

.profile__navbar__line {
  background-color: #0a0a0a;
  height: 1px;
  width: 100%;
  opacity: .2;;
}

.profile__navbar__userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 20px;

  & p:nth-child(2) {
    color: rgb(95, 99, 242);
    font-size: 14px;
    margin-top: 5px;
  }

  & p:nth-child(3) {
    font-weight: 500;
    font-size: 17px;
    margin-top: 10px;
  }
}

.noAccredited {
  color: #ff040c;
  font-size: 14px;
}

.accredited {
  color: rgb(95, 99, 242);
  font-size: 14px;
}

.profile__navbar__select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  padding-bottom: 20px;
  cursor: pointer;

  p {
    color: rgb(146, 153, 184);
    font-weight: 500;
  }

  img  {
    width: 11px;
    height: 16px;
    margin: 6px 0 0 10px;
  }
}

.profile__navbar__list {
  transition-duration: .5s;
  margin-top: -79px;
  background-color: white;
  position: absolute;

  li {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }

  p {
    color: #9299b8;
    font-size: 15px;
    margin-left: 15px;
  }

  svg {
    color: rgb(146, 153, 184);
  }

  a {
    text-decoration: none;
  }
}

.profile__navbar__addProfile {
  transition-duration: .3s;
  margin-top: 0!important;
}

.profile__navbar__selectImg {
  transition-duration: .3s;
  transform: rotate(0deg);
}

.profile__navbar__selectImgActive {
  transition-duration: .3s;
  transform: rotate(90deg);
}

.profile__navbar__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  opacity: 0;

  button {
    border: none;
    background-color: white;
    display: flex;
    margin: 25px 0;
  }

  span {
    color: rgb(95, 99, 242);
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
  }
}

.buttonPros {
  width: 30px;
  height: 30px;
  background-color: rgb(95, 99, 242);
  border-radius: 50%;
}

.profile__navbar__buttonActive {
  transition-duration: .3s;
  opacity: 1;
}

.navbarItemActive {
  svg {
    color: rgb(95, 99, 242);
  }
  p {
    color: rgb(95, 99, 242);
  }
}
.profile__content {
  width: 88%;
}

.profile__header {
  min-height: 60px;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: white;
  padding: 0 20px;
}

.profile__header__desc {
  display: flex;
  align-items: center;
  transition-duration: 1s;
  margin-right: -220px;
}

.emailActive {
  transition-duration: 1s;
  margin-right: 0!important;
}

.profile__header__balance {
  display: flex;
  align-items: center;

  div {
    transition-duration: 1s;
    margin-right: -198px;
    cursor: pointer;
    position: relative;

    &:hover {
      color: rgb(95, 99, 242);
    }

    svg {
      font-size: 20px;
    }
  }

  p {
    margin-left: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #0a0a0a;
  }

  span {
    color: rgb(95, 99, 242);
  }
}

.balanceActive {
  transition-duration: 4s;
  margin-right: 0!important;
  opacity: 1;
}

.balanceActiveNon {
  transition-duration: 1s;
  opacity: 0;
}

.profile__header__notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-left: 33px;

  svg {
    font-size: 23px;
    margin-top: -14px;
    margin-left: 14px;
  }
}

.profile__header__notification__desc {
  width: 25px;
  height: 18px;
  background-color: #5f63f2;
  color: white;
  border-radius: 41%;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  position: relative;
}

.profile__header__buttonMail {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    font-weight: 500;
    margin-right: 5px;
    transition-duration: 1s;
    margin-left: 20px;
    cursor: pointer;

    &:hover {
      color: rgb(95, 99, 242);
    }
  }

  img {
    width: 10px;
    height: 15px;
    margin-top: 4px;
  }
}

.profile__header__buttonMail_desc {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.email__active {
  transition-duration: 1s;
  margin-left: 5px!important;
}

.profile__header__emailIcon {
  transition-duration: 1s;
  margin-left: 0!important;
  position: relative;
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;
    background-color: white;

    &:hover {
      color: rgb(95, 99, 242);
    }
  }
}

.activeIcon {
  color: rgb(95, 99, 242);
}

.profile__header__account {
  min-height: 80px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  transition-duration: 1s;
  opacity: 0;
  padding: 0 15px;
  margin: 25px 0 -108px 20px;
}

.accountActive {
  transition-duration: 1s;
  opacity: 1;
}

.header__accountSettings {
  display: flex;
  align-items: center;
  p {
    font-size: 15px;
    margin-right: 15px;
    color: rgb(95, 99, 242);
  }

  svg {
    color: rgb(95, 99, 242);
    cursor: pointer;
  }

  svg:hover {
    transition-duration: 1s;
    transform: rotate(360deg)
  }
}

.header__accountSettings_buttons {
  display: flex;
  justify-content: space-between;

  button {
    border-radius: 4px;
    width: 90px;
    height: 30px;
    font-weight: 500;
    background: white;
    border: 1px solid #5f63f2;
    color: #5f63f2;
  }

  & button:first-child {
    border: 1px solid #050505;
    color: #050505;
  }
}