.profileDescProfile {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  div {
    height: 400px;
    background-color: white;
    border-radius: 10px;
  }
}

.profile__personalData {
  width: 58%;
}

.profile__passportData {
  width: 40%;
}