.profileDescProfile {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.profile__passportData {
  width: 40%;
  height: 382px;
  padding: 20px 0;
  background-color: white;
  border-radius: 10px;
}