.dataForm {
  width: 49%;
  padding: 20px 0;
  background-color: white;
  border-radius: 10px;

  &__title {
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
    margin-left: 20px;
  }

  &View {

    &__editButton {
      display: flex;
      justify-content: flex-end;

      button {
        border-radius: 4px;
        padding: 0 20.5px;
        height: 42px;
        font-weight: 500;
        background: transparent;
        border: 1px solid #5f63f2;
        color: #5f63f2;
        margin: 20px 20px 0 0;

        &:hover {
          transition: .5s;
          background-color: #5f63f2;
          color: white;
        }

        &:disabled {
          border-color: red;

          &:hover {
            background-color: #aeb6d3;
          }
        }
      }
    }

    &__desc {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      align-items: center;
      border-bottom: 1px solid #bfb8ff;
      padding-bottom: 5px;

      & span:nth-child(2) {
        max-width: 210px;
        width: 100%;
        display: block;
        line-height: 1;
        margin: 0 30px 0 10px;
        color: #5F63F2FF;
      }

      svg {
        color: #5F63F2FF;
        margin-left: 20px;
      }
    }
  }
}

.dataFormEdi__Fields {
  input {
    max-width: 320px;
    width: 100%;
    padding: 10px 11px;
    border: 1px solid #e3e6ef;
    border-radius: 4px;
    z-index: 1;

    &:hover {
      border-color: #8c94ff;
      border-right-width: 1px!important;
    }

    &:focus {
      border-color: #8c94ff;
      border-right-width: 1px!important;
      outline: 0;
      box-shadow: 0 0 0 2px #5F63F233/ 20%;
    }

    &.error {
      border-color: red;
    }
  }

  span {
    margin-right: 0!important;
  }
}

.dataFormEdiButton {
  min-height: 44px;
  background-color: white;
  border: 1px solid #3a40ff;
  color: #3a40ff;
  border-radius: 4px;
  z-index: 2;
  padding: 0 15px;
  margin-left: -102px;
  font-weight: 500;
}

.preference {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0 0 16px;

  input {
    max-width: 22px;
    min-height: 16px;
    border: 1px solid #3a40ff;
    margin-right: 10px;
    cursor: pointer;
  }

  label {
    cursor: pointer;
    color: #a1a1a1;

    &:hover {
      color: #3a40ff;
    }
  }
}