.projectFeed {

  &__addProject {
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

    button {
      min-height: 45px;
      padding: 0 20px;
      border-radius: 5px;
      background-color: #20c997;
      color: white;
    }
  }

}