.projectFeed {

  &__addProject {
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

    button {
      background: #5f63f2;
      border: none;
      color: white;
      border-radius: 4px;
      padding: 0px 25px;
      height: 48px;
      font-weight: 500;
    }
  }

}