input {

}

.registrationForm {
  margin-top: 50px;
  max-width: 420px;
}

.registrationForm__buttons {
  button {
    max-width: 130px;
    min-height: 48px;
  }
}

.registrationForm__input {
  p {
    color: rgba(0,0,0,.85);
    font-size: 14px;
    font-weight: 500;
  }

  div {
    margin-top: 10px;

    input {
      margin-left: -14px;
    }

    svg {
      position: relative;
      left: 10px;
    }
  }
}

.registrationFormLabel {
  display: flex;
  justify-content: end;
}

.registrationFormLabel__desc {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0,0,0,.85);
  margin-top: 2px;
}

.registrationFormLabel__input {
  width: 16px;
  height: 16px;
}

.registrationFormSpinner {
  position: relative;
  top: 8px;
}

.registration__button-noActive {
  button {
    border-color: red!important;
  }
}

.fullName-input {
  border-color: red!important;

  &:focus {
    border-color: red!important;
    box-shadow: 0 0 0 2px rgba(250, 2, 22, 0.2) !important;
  }
}

.fullName-input__desc {
  font-weight: 100!important;
  color: red!important;
}

.registrationForm__input__clue {
  color: red!important;
  font-size: 12px!important;
}